/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
app/python-dev/setting_file/json_file
app/python-dev//setting_file/yaml_file
app/python-dev//setting_file/browser_login

# app/Python 配下の設定ファイル系フォルダをすべて無視
app/Python/setting_file/json_file/
app/Python/setting_file/yaml_file/
app/Python/setting_file/browser_login/

# Pythonキャッシュはすべて無視
**/__pycache__/
__pycache__/

# AIキーや環境依存ファイル
app/Python/**/AI_apikey.py
app/Python/
app/Python/setting_file/gcp_api.py
app/Python/setting_file/api_yaml.py
app/Python/setting_file/api_json.py